<div [ngClass]="className === 'STANDARD' ? 'node --dialog' : 'node --folder'">
  <div class="node-content">
    <div class="title">
      <i
        [ngClass]="
          className === 'FOLDER'
            ? 'channel-icon icon-folder'
            : 'channel-icon icon-dialog'
        "
      ></i>
      <strong>{{ title }}</strong>
      <app-dropdown-actions></app-dropdown-actions>
    </div>
    <div class="content">
      <div class="content-description">
        <p [innerHTML]="conditions | highlighter : (query$ | async)"></p>
      </div>
      <div class="content-actions">
        <i
          *ngIf="className === 'STANDARD'; else folder"
          class="channel-icon icon-whatsapp-active"
          >whatsapp</i
        >
        <ng-template #folder>
          <i class="channel-icon icon-fb-messenger-active">messenger</i>
        </ng-template>
      </div>
    </div>
  </div>
</div>
