<div
  [ngClass]="
    className === 'STANDARD'
      ? 'node-content-empty --dialog'
      : 'node-content-empty --folder'
  "
>
  <span class="arr-dtl"></span>
  <div>
    <div class="node-content">
      <div>
        <div class="title">
          <div>
            <i></i>
            <strong>{{ id }}</strong>
            <button type="button"><i>...</i></button>
          </div>
        </div>
        <div class="content">
          <div class="content-description">
            <p>{{ conditions }}</p>
          </div>
          <div class="content-actions">
            <i></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
