@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-1.25em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

%card {
  background: white;
  border-radius: 0.25em;
  border: 1px solid #e1e7f1;
  display: flex;
  flex-direction: column;
  height: 9.875em;
  width: 23em;
  transition: ease-in-out 0.1s;
}

.dialogs-container {
  display: flex;
  flex-direction: column;
  grid-gap: 0.625em;

  .dialogs-content {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    margin-left: 1em;
    position: relative;

    .content {
      &-actions {
        display: flex;
        justify-content: space-between;

        button {
          padding: 0.4em 2em;
        }
      }
    }

    > div {
      @extend %card;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      overflow: visible;
      background-color: transparent;
      border: 0.125em solid transparent;

      .title,
      .content {
        padding: 1em;
      }

      + .dialogs-content.dialogs-content--empty {
        margin-top: 1em;
      }
    }

    &--empty {
      margin-left: 1em;

      > div {
        background-color: white;

        .title,
        .content {
          padding: 1em 0;
        }
      }
    }

    &--accordion {
      display: flex;
      height: 11em;
      overflow: hidden;
      position: relative;
      padding-bottom: 1.2em;
      width: 80vw;

      &.is-shown {
        .dialogs-content.dialogs-content--empty,
        .dialogs-content--accordion {
          animation: slideIn ease-in-out 0.2s forwards;
        }
      }
    }
  }

  .dialogs-stack {
    @extend %card;
    position: absolute;
    left: 1.8em;
    top: 1.1em;
    z-index: 0;

    i {
      @extend %card;
      left: -0.3em;
      top: -0.4em;
      position: absolute;
      height: 10em;

      &::before,
      &::after {
        @extend %card;
        content: "";
        position: absolute;
        right: 0.45em;
        top: -0.6em;
        z-index: 2;
      }

      &::after {
        right: 0.2em;
        top: -0.3em;
        z-index: 1;
      }
    }

    &.is-active {
      border: 1px solid #9066ff;

      i {
        border: 1px solid #9066ff;

        &::before {
          border: 2px solid #9066ff;
          top: -0.7em;
        }

        &::after {
          border: 1px solid #9066ff;
        }
      }
    }
  }
}
