<div class="dialogs-container" [ngStyle]="{ 'font-size': size + '%' }">
  <ng-container *ngIf="dialogs.length > 0; else noDialogsAvailable">
    <ng-container *ngFor="let item of dialogs">
      <app-folder
        [children]="item.children"
        [id]="item.id"
        [type]="item.type"
        [conditions]="item.conditions"
        [title]="item.title"
        (toggleEmitter)="toggleAccordionNode($event)"
      ></app-folder>

      <ng-template #dialog>
        <app-dialog
          *ngIf="item.type === 'STANDARD'"
          [id]="item.id"
          [type]="item.type"
          [conditions]="item.conditions"
          [title]="item.title"
        ></app-dialog>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-template #noDialogsAvailable>
    <p>Nenhum diálogo disponível</p>
  </ng-template>
</div>
