@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-1.25em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

%node {
  background: white;
  border-radius: 0.25em;
  border: 1px solid #e1e7f1;
  display: flex;
  flex-direction: column;
  height: 9.875em;
  width: 23em;
}

.nodes-container {
  .node-content {
    position: relative;

    > div {
      @extend %node;
      background-color: transparent;
      border: 0;
      height: 12em;
      justify-content: space-between;
      position: relative;
      z-index: 2;

      .title {
        display: flex;
        height: 5em;
        padding-left: 2.4em;
        padding-top: 1em;

        > div {
          align-items: center;
          padding-bottom: 0.5em;
          display: flex;
          width: 100%;

          i {
            align-items: center;
            background: gray;
            border-radius: 90px;
            display: flex;
            height: 2.25em;
            justify-content: center;
            margin-right: 0.8em;
            width: 2.25em;
          }

          strong {
            color: #002257;
            font-size: 1em;
            font-weight: 100;
          }

          button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            background-color: transparent;
            border-radius: 5.625em;
            height: 1.21875em;
            width: 1.21875em;
            border: 0.0625em solid #818181;
            cursor: pointer;

            i {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
            }
          }
        }
      }

      .content {
        display: flex;
        grid-gap: 1em;
        flex-direction: column;
        padding-bottom: 3em;
        padding-left: 2.4em;

        .content-description {
          border-bottom: 1px solid #e9ebf2;
          padding-bottom: 0.5em;

          p {
            font-size: 1em;
            color: #002257;
          }
        }

        .content-actions {
          display: flex;
          justify-content: space-between;

          button {
            background-color: transparent;
            border: 0;
            color: #0082f6;
            cursor: pointer;
            font-weight: 600;
            padding: 0 0.4em;
          }
        }
      }
    }

    &-empty {
      height: 10.5em !important;
      margin-left: 1em;
      margin-top: -0.4em;
      position: relative;

      .title,
      .content {
        padding-left: 1.4em !important;
      }

      > div {
        background-color: white;
        border: 1px solid #e1e7f1;
        height: 9.8em !important;
        position: relative;
        width: 23em;
        z-index: 2;

        .title,
        .content {
          padding-right: 1.4em;
        }

        &:hover {
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
        }
      }

      &.--dialog {
        > div {
          border: 2px solid transparent;
          border-radius: 0.25em;
        }

        &.is-active {
          > div {
            border: 2px solid #ff8c00;
          }
        }
      }
    }

    &-children {
      display: flex;
      height: 12em;
      overflow: hidden;
      position: relative;
      width: 80vw;

      &.is-visible {
        height: auto;

        &::before {
          background: white;
          border-radius: 90px;
          border: 1px solid #0082f6;
          content: "";
          height: 0.6875em;
          left: 1.6em;
          position: absolute;
          top: 11em;
          width: 0.6875em;
          z-index: 2;
        }

        &::after {
          background: #0082f6;
          content: "";
          height: 100%;
          left: 2em;
          position: absolute;
          top: 11em;
          width: 1px;
          z-index: 0;
        }
      }

      > div {
        &:hover {
          .st {
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
          }
        }
      }

      .children {
        visibility: hidden;

        .arr-dtl {
          background: #0082f6;
          height: 1px;
          position: absolute;
          top: 3.95em;
          width: 1.9em;
          left: -1em;

          &::before,
          &::after {
            background: #0082f6;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            right: 0;
            top: -0.25em;
            transform: rotate(-141deg);
            width: 0.65em;
          }

          &::after {
            top: 0.25em;
            transform: rotate(-40deg);
          }
        }

        &.is-visible {
          animation: slideIn ease-in-out 0.2s forwards;
          height: auto;
          visibility: visible;
        }

        .node-content-empty {
          margin-bottom: 0.8em;

          + div {
            margin-bottom: 0;
          }

          .arr-dtl {
            left: -2em;
          }
        }

        .node-content-children {
          .arr-dtl {
            left: -1em;
          }

          .children {
            .node-content-children {
              .arr-dtl {
                left: -1em;
              }

              .node-content-empty {
                .arr-dtl {
                  left: -2em;
                }
              }
            }

            .arr-dtl {
              left: -2em;
            }
          }
        }
      }

      .node-content-empty {
        margin-left: 4em;
      }

      .node-content-children {
        margin-left: 3em;
        overflow: visible;
      }
    }
  }

  .st-dtl {
    @extend %node;
    left: 1.8em;
    position: absolute;
    top: 1.1em;
    z-index: 0;

    i {
      @extend %node;
      height: 10em;
      left: -0.3em;
      position: absolute;
      top: -0.4em;

      &::before,
      &::after {
        @extend %node;
        content: "";
        position: absolute;
        right: 0.45em;
        top: -0.6em;
        z-index: 2;
      }

      &::after {
        right: 0.2em;
        top: -0.3em;
        z-index: 1;
      }
    }

    &.is-active {
      border: 1px solid #9066ff;

      i {
        border: 1px solid #9066ff;

        &::before {
          border: 2px solid #9066ff;
          top: -0.7em;
        }

        &::after {
          border: 1px solid #9066ff;
        }
      }
    }
  }
}
