<div class="dialogs-container" [ngStyle]="{ 'font-size': size + '%' }">
  <!-- FOLDER FULL 01 - LEVEL 0 -->
  <div class="dialogs-content--accordion">
    <div>
      <div class="dialogs-content">
        <div>
          <div class="title">
            <h3>
              <i></i>
              <strong>FOLDER 01</strong>
            </h3>
          </div>
          <div class="content">
            <div class="content-description">
              <p>description goes here opa</p>
            </div>
            <div class="content-actions">
              <i></i>
              <button type="button" (click)="toggleAccordionNode($event)">
                btn
              </button>
            </div>
          </div>
        </div>

        <!-- LEVEL 1 -->
        <div class="dialogs-content dialogs-content--empty">
          <div>
            <div class="dialogs-content">
              <div>
                <div class="title">
                  <h3>
                    <i></i>
                    <strong>FOLDER 02</strong>
                  </h3>
                </div>
                <div class="content">
                  <div class="content-description">
                    <p>description goes here opa</p>
                  </div>
                  <div class="content-actions">
                    <i></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LEVEL 1 -->
        <div class="dialogs-content--accordion">
          <div>
            <div class="dialogs-content">
              <div>
                <div class="title">
                  <h3>
                    <i></i>
                    <strong>FOLDER CHILD 02</strong>
                  </h3>
                </div>
                <div class="content">
                  <div class="content-description">
                    <p>description goes here</p>
                  </div>
                  <div class="content-actions">
                    <i></i>
                    <button type="button" (click)="toggleAccordionNode($event)">
                      btn
                    </button>
                  </div>
                </div>
              </div>

              <!-- FOLDER EMPTY 01 - LEVEL 2 -->
              <div class="dialogs-content dialogs-content--empty">
                <div>
                  <div class="dialogs-content">
                    <div>
                      <div class="title">
                        <h3>
                          <i></i>
                          <strong>FOLDER 02</strong>
                        </h3>
                      </div>
                      <div class="content">
                        <div class="content-description">
                          <p>description goes here opa</p>
                        </div>
                        <div class="content-actions">
                          <i></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- FOLDER EMPTY 02 - LEVEL 2 -->
              <div class="dialogs-content dialogs-content--empty">
                <div>
                  <div class="dialogs-content">
                    <div>
                      <div class="title">
                        <h3>
                          <i></i>
                          <strong>FOLDER 02</strong>
                        </h3>
                      </div>
                      <div class="content">
                        <div class="content-description">
                          <p>description goes here opa</p>
                        </div>
                        <div class="content-actions">
                          <i></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- LEVEL 2 -->
              <div class="dialogs-content--accordion">
                <div>
                  <div class="dialogs-content">
                    <div>
                      <div class="title">
                        <h3>
                          <i></i>
                          <strong>FOLDER CHILD 02</strong>
                        </h3>
                      </div>
                      <div class="content">
                        <div class="content-description">
                          <p>description goes here</p>
                        </div>
                        <div class="content-actions">
                          <i></i>
                          <button
                            type="button"
                            (click)="toggleAccordionNode($event)"
                          >
                            btn
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- LEVEL 3 -->
                    <div class="dialogs-content--accordion">
                      <div>
                        <div class="dialogs-content">
                          <div>
                            <div class="title">
                              <h3>
                                <i></i>
                                <strong>FOLDER CHILD 02</strong>
                              </h3>
                            </div>
                            <div class="content">
                              <div class="content-description">
                                <p>description goes here</p>
                              </div>
                              <div class="content-actions">
                                <i></i>
                                <button
                                  type="button"
                                  (click)="toggleAccordionNode($event)"
                                >
                                  btn
                                </button>
                              </div>
                            </div>
                          </div>

                          <!-- FOLDER EMPTY 01 - LEVEL 4 -->
                          <div class="dialogs-content dialogs-content--empty">
                            <div>
                              <div class="dialogs-content">
                                <div>
                                  <div class="title">
                                    <h3>
                                      <i></i>
                                      <strong>FOLDER 02</strong>
                                    </h3>
                                  </div>
                                  <div class="content">
                                    <div class="content-description">
                                      <p>description goes here opa</p>
                                    </div>
                                    <div class="content-actions">
                                      <i></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <span class="dialogs-stack"></span>
                      </div>
                    </div>
                  </div>
                  <span class="dialogs-stack"></span>
                </div>
              </div>
            </div>
            <span class="dialogs-stack"></span>
          </div>
        </div>
      </div>
      <span class="dialogs-stack"></span>
    </div>
  </div>

  <!-- FOLDER FULL 02 - LEVEL 0 -->
  <div class="dialogs-content--accordion">
    <div>
      <div class="dialogs-content">
        <div>
          <div class="title">
            <h3>
              <i></i>
              <strong>FOLDER 02</strong>
            </h3>
          </div>
          <div class="content">
            <div class="content-description">
              <p>description goes here opa</p>
            </div>
            <div class="content-actions">
              <i></i>
              <button type="button" (click)="toggleAccordionNode($event)">
                btn
              </button>
            </div>
          </div>
        </div>

        <!-- LEVEL 1 -->
        <div class="dialogs-content--accordion">
          <div>
            <div class="dialogs-content">
              <div>
                <div class="title">
                  <h3>
                    <i></i>
                    <strong>FOLDER CHILD 01</strong>
                  </h3>
                </div>
                <div class="content">
                  <div class="content-description">
                    <p>description goes here</p>
                  </div>
                  <div class="content-actions">
                    <i></i>
                    <button type="button" (click)="toggleAccordionNode($event)">
                      btn
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <span class="dialogs-stack"></span>
          </div>
        </div>

        <!-- LEVEL 1 -->
        <div class="dialogs-content--accordion">
          <div>
            <div class="dialogs-content">
              <div>
                <div class="title">
                  <h3>
                    <i></i>
                    <strong>FOLDER CHILD 02</strong>
                  </h3>
                </div>
                <div class="content">
                  <div class="content-description">
                    <p>description goes here</p>
                  </div>
                  <div class="content-actions">
                    <i></i>
                    <button type="button" (click)="toggleAccordionNode($event)">
                      btn
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <span class="dialogs-stack"></span>
          </div>
        </div>
      </div>
      <span class="dialogs-stack"></span>
    </div>
  </div>

  <!-- FOLDER EMPTY 03 - LEVEL 0 -->
  <div class="dialogs-content dialogs-content--empty">
    <div>
      <div class="dialogs-content">
        <div>
          <div class="title">
            <h3>
              <i></i>
              <strong>FOLDER 02</strong>
            </h3>
          </div>
          <div class="content">
            <div class="content-description">
              <p>description goes here opa</p>
            </div>
            <div class="content-actions">
              <i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOLDER FULL 04 - LEVEL 0 -->
  <div class="dialogs-content--accordion">
    <div>
      <div class="dialogs-content">
        <div>
          <div class="title">
            <h3>
              <i></i>
              <strong>FOLDER 02</strong>
            </h3>
          </div>
          <div class="content">
            <div class="content-description">
              <p>description goes here opa</p>
            </div>
            <div class="content-actions">
              <i></i>
              <button type="button" (click)="toggleAccordionNode($event)">
                btn
              </button>
            </div>
          </div>
        </div>

        <!-- LEVEL 1 -->
        <div class="dialogs-content--accordion">
          <div>
            <div class="dialogs-content">
              <div>
                <div class="title">
                  <h3>
                    <i></i>
                    <strong>FOLDER CHILD 01</strong>
                  </h3>
                </div>
                <div class="content">
                  <div class="content-description">
                    <p>description goes here</p>
                  </div>
                  <div class="content-actions">
                    <i></i>
                    <button type="button" (click)="toggleAccordionNode($event)">
                      btn
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <span class="dialogs-stack"></span>
          </div>
        </div>
      </div>
      <span class="dialogs-stack"></span>
    </div>
  </div>
</div>
