<div class="dialogs-container" [ngStyle]="{ 'font-size': size + '%' }">
  <ng-container *ngIf="dialogs.length > 0; else noDialogsAvailable">
    <ng-container *ngFor="let item of dialogs">
      <ng-container *ngIf="item.type === 'FOLDER' && item.children.length > 0">
        <app-folder
          [children]="item.children"
          [hasActions]="true"
          [id]="item.id"
          [type]="item.type"
          [conditions]="item.conditions"
          [title]="item.title"
          (toggleEmitter)="toggleAccordionNode($event)"
        ></app-folder>
      </ng-container>

      <ng-container
        *ngIf="item.type === 'FOLDER' && item.children.length === 0"
      >
        <app-dialog
          [id]="item.id"
          [type]="item.type"
          [conditions]="item.conditions"
          [title]="item.title"
        ></app-dialog>
      </ng-container>

      <ng-container
        *ngIf="item.type === 'STANDARD' && item.children.length === 0"
      >
        <app-dialog
          [id]="item.id"
          [type]="item.type"
          [conditions]="item.conditions"
          [title]="item.title"
        ></app-dialog>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #noDialogsAvailable>
    <p>Nenhum diálogo disponível</p>
  </ng-template>
</div>
