<div class="node-dialogs-form">
  <div class="heading">
    <div class="heading-title">
      <h2>Alterar Diálogo</h2>
    </div>
    <div class="heading-actions">
      <button>Cancelar</button>
      <button>Salvar</button>
    </div>
  </div>
  <form>
    <label for="Nome">
      Nome
      <input type="text" name="nome" />
    </label>
    <label for="Condição de entrada">
      Condição de entrada
      <input type="text" name="nome" />
    </label>
    <label for="Responder nos canais">
      Responder nos canais
      <input type="text" name="nome" />
    </label>
  </form>
</div>
