<div class="slider">
  <form oninput="result.value = slider.value" (change)="sliderSize()">
    <div class="slider-input">
      <input
        type="range"
        id="slider"
        min="40"
        max="100"
        value="{{ size$ | async }}"
      />

      <div class="slider-input-actions">
        <button (click)="decreaseSize()" type="button">-</button>
        <button (click)="increaseSize()" type="button">+</button>
      </div>
    </div>

    <div class="slider-input-hidden">
      <output name="result" for="slider" #result>
        {{ size$ | async }}
      </output>
      <strong #valueSize>{{ size$ | async }}</strong>
    </div>
  </form>

  <div class="slider-input-number">
    <input
      type="number"
      value="{{ size$ | async | number : '1.0-0' }}"
      (change)="inputSize($event)"
    />
  </div>
</div>
