@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(-1em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.node-dropdown {
  margin: 1.26em 0.84em;
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;

  &:hover {
    height: auto;

    .node-dropdown-button {
      background-color: var(--gray-07);

      + .node-dropdown-actions {
        animation: slideDown ease-in-out 0.15s forwards;
        visibility: visible;
      }
    }
  }

  .node-dropdown-button {
    border: 0;
    height: 1.9em;
    padding: 0;
    pointer-events: none;
    width: 1.9em;

    svg {
      height: 80%;
      pointer-events: none;
      width: 80%;

      path {
        fill: var(--gray-06);
      }
    }
  }
}

.node-dropdown-actions {
  background-color: var(--white);
  border-radius: 0.3em;
  border: 1px solid var(--blue-04);
  margin-left: -0.1em;
  margin-top: 0.1em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: -9.5em;
  top: -1.7em;
  visibility: hidden;
  width: 9.8em;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      padding: 0;

      button {
        background-color: transparent;
        border-radius: 0;
        border: 0;
        font-size: 0.79em;
        justify-content: flex-start;
        padding: 1.16em 1.25em;
        width: 100%;

        &:hover {
          background-color: var(--gray-08);
        }
      }

      &:first-child {
        button {
          border-top-left-radius: 0.3em;
          border-top-right-radius: 0.3em;
        }
      }

      &:last-child {
        button {
          border-bottom-left-radius: 0.3em;
          border-bottom-right-radius: 0.3em;
        }
      }
    }
  }

  &.is-active {
    animation: slideDown ease-in-out 0.2s forwards;
    visibility: visible;
    z-index: 5;
  }
}
