<div class="node-dropdown">
  <button
    type="button"
    class="node-dropdown-button"
    (click)="onInvokeDropDownEvent($event)"
  >
    <svg viewBox="0 0 24 24">
      <path
        d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4M12,10.5A1.5,1.5 0 0,1 13.5,12A1.5,1.5 0 0,1 12,13.5A1.5,1.5 0 0,1 10.5,12A1.5,1.5 0 0,1 12,10.5M7.5,10.5A1.5,1.5 0 0,1 9,12A1.5,1.5 0 0,1 7.5,13.5A1.5,1.5 0 0,1 6,12A1.5,1.5 0 0,1 7.5,10.5M16.5,10.5A1.5,1.5 0 0,1 18,12A1.5,1.5 0 0,1 16.5,13.5A1.5,1.5 0 0,1 15,12A1.5,1.5 0 0,1 16.5,10.5Z"
      />
    </svg>
  </button>
  <div class="node-dropdown-actions">
    <ul>
      <li>
        <button type="button">Novo diálogo filho</button>
      </li>
      <li>
        <button type="button">Nova pasta filha</button>
      </li>
      <li>
        <button type="button">Alterar</button>
      </li>
      <li>
        <button type="button">Duplicar</button>
      </li>
      <li>
        <button type="button">Excluir</button>
      </li>
      <li>
        <button type="button">Mover</button>
      </li>
    </ul>
  </div>
</div>
