<div [ngClass]="className === 'FOLDER' ? 'node --folder' : 'node --dialog'">
  <div class="node-content">
    <div class="title">
      <i
        [ngClass]="
          className === 'FOLDER'
            ? 'channel-icon icon-folder'
            : 'channel-icon icon-dialog'
        "
      ></i>
      <strong>{{ title }}</strong>
      <app-dropdown-actions
        (actionsEmitter)="openActions($event)"
      ></app-dropdown-actions>
    </div>
    <div class="content">
      <div class="content-description">
        <p [innerHTML]="conditions | highlighter : (query$ | async)"></p>
      </div>
      <div *ngIf="hasActions" class="content-actions">
        <i
          *ngIf="className === 'FOLDER'; else dialog"
          class="channel-icon icon-fb-messenger-active"
        >
          messenger</i
        >
        <ng-template #dialog>
          <i class="channel-icon icon-whatsapp-active">whatsapp</i>
        </ng-template>
        <button
          type="button"
          class="actions-button"
          (click)="onInvokeEvent($event)"
        >
          <svg viewBox="0 0 24 24">
            <path
              d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="children">
      <ng-container *ngFor="let item of children">
        <ng-container *ngIf="item.children.length > 0">
          <div>
            <app-folder
              [className]="item.type"
              [children]="item.children"
              [hasActions]="true"
              [id]="item.id"
              [type]="item.type"
              [conditions]="item.conditions"
              [title]="item.title"
              (toggleEmitter)="onInvokeEvent($event)"
            ></app-folder>
          </div>
        </ng-container>

        <ng-container
          *ngIf="item.type === 'FOLDER' && item.children.length === 0"
        >
          <div>
            <app-folder-empty
              [className]="item.type"
              [id]="item.id"
              [type]="item.type"
              [conditions]="item.conditions"
              [title]="item.title"
            ></app-folder-empty>
          </div>
        </ng-container>

        <ng-container
          *ngIf="item.type === 'STANDARD' && item.children.length === 0"
        >
          <div>
            <app-folder-empty
              [className]="item.type"
              [id]="item.id"
              [type]="item.type"
              [conditions]="item.conditions"
              [title]="item.title"
            ></app-folder-empty>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
