<div
  [ngClass]="
    className === 'empty'
      ? 'dialogs-content--accordion --empty-folder'
      : 'dialogs-content--accordion'
  "
>
  <div>
    <div class="dialogs-content">
      <div>
        <div class="title">
          <div>
            <i></i>
            <strong>{{ id }}</strong>
            <button type="button"><i>...</i></button>
          </div>
        </div>
        <div class="content">
          <div class="content-description">
            <p>{{ conditions }}</p>
          </div>
          <div *ngIf="hasActions" class="content-actions">
            <i></i>
            <button type="button" (click)="onInvokeEvent($event)">></button>
          </div>
        </div>
      </div>

      <div class="children">
        <ng-container *ngFor="let item of children">
          <ng-container *ngIf="item.type !== 'STANDARD'; else dialog">
            <ng-container *ngIf="item.children.length; else emptyFolder">
              <app-folder
                [hasActions]="true"
                [id]="item.id"
                [children]="item.children"
                [type]="item.type"
                [conditions]="item.conditions"
                [title]="item.title"
                (toggleEmitter)="onInvokeEvent($event)"
              ></app-folder>
            </ng-container>

            <ng-template #emptyFolder>
              <app-folder
                [id]="item.id"
                [type]="item.type"
                [conditions]="item.conditions"
                [title]="item.title"
                (toggleEmitter)="onInvokeEvent($event)"
              ></app-folder>
            </ng-template>
          </ng-container>

          <ng-template #dialog>
            <ng-container *ngIf="item.type === 'STANDARD'">
              <app-dialog
                [id]="item.id"
                [type]="item.type"
                [conditions]="item.conditions"
                [title]="item.title"
              ></app-dialog>
            </ng-container>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <span class="dialogs-stack">
      <i></i>
    </span>
  </div>
</div>
