<div class="dialogs-content dialogs-content--empty --dialog">
  <span class="arrow-right"></span>
  <div>
    <div class="dialogs-content">
      <div>
        <div class="title">
          <div>
            <i></i>
            <strong>{{ id }}</strong>
            <button type="button"><i>...</i></button>
          </div>
        </div>
        <div class="content">
          <div class="content-description">
            <p>{{ conditions }}</p>
          </div>
          <div class="content-actions">
            <i></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
